# Instagram Authentication Credentials
# Copy this file to .env and replace with your actual details.
# DO NOT commit your actual .env file to public version control!

INSTAGRAM_USERNAME=ur insta id
INSTAGRAM_PASSWORD=**********
INSTAGRAM_SESSIONID=21609448764%3A2WNdRxBAEQfMBO%3A3%3AAYiJjmWEMRl9a15MzQ4TMjT2oIJ2ZcLC6YDEKCPJsg
INSTAGRAM_USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36

# Optional: Meta Graph API tokens if using official API instead of scraping/wrapper
# META_ACCESS_TOKEN=your_meta_access_token
# INSTAGRAM_BUSINESS_ACCOUNT_ID=your_instagram_business_account_id

# Gemini API key for dynamic AI post generation (Get one free at aistudio.google.com)
GEMINI_API_KEY=
